.search {
  position: relative;
}

.search input {
  padding: 12px 20px 12px 40px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  font-size: 15px;

  &:focus {
    border: 2px solid rgba(0, 0, 0, 0.8);
  }


}

.closeIcon {
  right: 15px;
}

.searchIcon {
  left: 15px;
}

.search img {
  top: 15px;
  position: absolute;
  width: 16px;
  height: 16px;
  opacity: 0.4;
}